# MYSQL ENV
# LOCAL_MYSQL_USERNAME=
# LOCAL_MYSQL_PASSWORD=

# POSTGRESQL ENV
# LOCAL_POSTGRES_USERNAME=
# LOCAL_POSTGRES_PASSWORD=

# Mail Variable
# MAIL_SMTP_USERNAME=
# MAIL_SMTP_PASSWORD=

# Datasource Environment for DEV
# DEV_URL=
# DEV_USERNAME=
# DEV_PASSWORD=
# DEV_MAIL_USERNAME=
# DEV_MAIL_PASSWORD=

# Datasource Environment for Product
# PROD_URL=
# PROD_USERNAME=
# PROD_PASSWORD=
# PROD_MAIL_USERNAME=
# PROD_MAIL_PASSWORD=